

# Maven
**/target/

# Gradle
**/build/

# IntelliJ
**/.idea/
**/*.iml

# VS Code
**/.vscode/

# Eclipse
**/.classpath
**/.project
**/.settings/

# Java compiled
**/*.class

# OS
.DS_Store
Thumbs.db
